<template>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">User object ({{ cacheHit }})</div>

                    <div class="panel-body">
                        <div v-if="users.length" v-for="user in users">
                            <p>
                                name: {{ user.name }}
                                email: {{ user.email }}
                                href: {{ user.href }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Example',

        data() {
            return {
                eTag: null,
                users: [],
                cacheHit: false
            }
        },

        methods: {
            getTest() {
                axios.get('/api/v2/user', {
                        headers: {
                            'If-None-Match': this.eTag
                        }
                    })
                    .then(response => {
//                        console.log(response.data);
                        this.users = response.data.data;
                        this.eTag = response.headers.etag;
                    })
                    .catch(function (error) {
                        if (error.response) {
                            if (error.response.status == 304) {
                                console.log('Change nothing, it is not modified');
                                this.cacheHit = true;
                                return;
                            }
                        } else {
                            // Something happened in setting up the request that triggered an Error
                            console.log('Error', error.message);
                        }
//                        console.log(error.config);
                    }.bind(this));
            }


        },


        mounted() {
            setInterval(function() {
                this.getTest();
            }.bind(this), 2500);
        }
    }
</script>
